@import "./globals.scss";

.checkbox input, .checkbox span{
    cursor: pointer;
}

.checkbox{
    &.dark{
        color: $control-foreground-dark;
    }
    &.light{
        color: $control-foreground-light;
    }
}

.checkbox span{
    margin-left: 5px;
}