@import "./globals.scss";

.combobox {
    min-width: 75px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    outline: none;
    &.dark{
        background-color: $control-background-dark;
        color: white;
        border-color: $border-dark;
        &:focus, &:active{
            border: solid 2px $control-focus-border-dark
        }
    }
    &.light{
        border-color: $border-light;
    }
}