@import "./globals.scss";

.datepicker{
    display: flex;
    align-items: center;
    .input-date{
        margin-left: 5px;
        margin-right: 5px;
    }
    &.dark, &.dark input{
        color:$control-foreground-dark;
    }
    &.light, &.light input{
        color:$control-foreground-light;
    }
}

.datepicker-label{
    font-size: 20px;
    padding-right: 10px;
}

.datepicker-value{
    margin: 0 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
}

.datepicker>.datepicker-value {
    border: solid 2px;
    font-family: Roboto, sans-serif;
    &::-webkit-calendar-picker-indicator{
        cursor: pointer;
        border-radius: 4px;
        margin-right: 2px;
        opacity: 0.8;
    }
    &:hover{
        opacity: 1
    }
}

.datepicker.light>.datepicker-value{
    border-color: $main-color-light;
}

.datepicker.dark>.datepicker-value{
    border-color: $main-color-dark;
    &::-webkit-calendar-picker-indicator{
        filter: invert(1);
    }
}