.input-parameter-name{
    width: 200px;
}

.input-parameter-type {
    width: 200px;
}

.output-parameter-name{
    width: 250px;
}

.output-parameter-type{
    width: 250px;
}

.output-parameter-desired{
    width: 250px;
}