@import "./globals.scss";

.search-input-container{
    @include control-base;
    background: transparent;
    width: 450px;
    border-bottom: 2px solid black;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    position: relative;
    &.dark{
        border-bottom-color: $main-color-dark;
    }
    &.light{
        border-bottom-color: $main-color-light;
    }
}

.search-input{
    @include control-base;
    padding-left: 5px;
    background: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    padding-right: 40px;
    width: 100%;
}

.search-label.dark{
    color:white;
}

.search-clear{
    align-items: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    right: 5px;
    top: 0;
    height: 32px;
    position: absolute;
    margin-right: 5px;
    color: #767676;
    &.dark:hover{
        color: $main-color-dark;
    }
    &.light:hover{
        color: $main-color-light;
    }
}