.button-common{
    font-family: 'Roboto', sans-serif;
    height: 40px;
    padding: 5px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    border: solid 5px transparent;
}

.button-default{
    background-color: #f0b90b;
}

.button-danger{
    background-color: #e01c1c;
    color: white;
}

.button-common:disabled{
    opacity: 50%;
    color: white;
}