.endpoint{
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background-color: #FFD285;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.301);
    font-family: 'Roboto', sans-serif;
}

.endpoint .path{
    font-size: 20px;
    font-weight: 700;
}

.endpoint-delete{
    background-color: red;
    font-size: 15;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
}