/*light theme*/
$app-background-light: #333333;
$border-light: #767676;
$text-light: black;
$control-background-light: white;
$control-foreground-light: black;
$control-focus-border-light: transparent;
$button-background-light: #f0b90b;
$highlithing-light: rgb(146, 2, 2);
$button-foreground-light: black;
$block-background-light:#f0b90b;
/*dark theme*/
$app-background-dark: #333333;
$border-dark: rgb(133, 133, 133);
$text-dark: white;
$control-background-dark: #444444;
$control-foreground-dark: white;
$control-focus-border-dark: #D17F2F;
$button-background-dark: #D17F2F;
$highlithing-dark: #D17F2F;
$button-foreground-dark: white;
$block-background-dark:#444444;