@import "./globals.scss";

.url{
    font-size: 16px;
}

.new-endpoint.dark{
    color: $text-dark;
}

.dynamic-url-validation-error{
    color: rgb(146, 2, 2);
}

.dynamic-url{
    border: none;
    background: transparent;
    border-bottom: 2px solid;
    &.light{
        color: $control-foreground-light;
        &:focus, &:active{
            border-color: $highlithing-light;
        }
    }
    &.dark{
        color: $control-foreground-dark;
        &:focus, &:active{
            border-color: $highlithing-dark;
        }
    }
    &:focus, &:active{
        outline: none;
    }
}

.form-part-row{
    display: flex;
    flex-direction: row;
}

.form-part-row>div{
    margin-right: 10px;
}

.callback-title{
    margin: 10px 0;
    font-size: 20px;
    display: inline-block;
    padding: 2px;
    &.light{
        background-color: $highlithing-light;
    }
    &.dark{
        background-color: $highlithing-dark;
    }
}

.file-data{
    display: block;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    label{
        margin-bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    input{
        display: none;
        cursor: pointer;
    }
}

.file-container{
    position: relative;
    width: 200px;
}

.file-control{
    width: 100%;
    text-overflow: clip;
    height: 35px;
    padding: 5px;
    background: white;
    margin: 5px 0;
    border-radius: 10px;
    color:black;
}

.delete-btn{
    position: absolute;
    color:black;
    right: 5px;
    top: 0;
}

.spinner-content{
    opacity: 0.5;
}