@import "./globals.scss";

.url{
    font-size: 16px;
}

.new-endpoint.dark{
    color: $text-dark;
}

.form-part-row{
    display: flex;
    flex-direction: row;
}

.form-part-row>div{
    margin-right: 10px;
}

.callback-title{
    margin: 10px 0;
    font-size: 20px;
    display: inline-block;
    padding: 2px;
    font-weight: 700;
}

.file-data{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    label{
        margin-bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    input{
        display: none;
        cursor: pointer;
    }
}

.file-container{
    position: relative;
    width: 150px;
    cursor: pointer;
}

.file-control{
    text-overflow: clip;
    height: 35px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    color:black;
    &.dark{
        background: $button-background-dark;
        color: $button-foreground-dark;
    }
    &.light{
        background: $button-background-light;
        color: $button-foreground-light;
    }
}

.delete-btn{
    position: absolute;
    color:black;
    right: 5px;
    top: 0;
    &.dark{
        color: $button-foreground-dark;
    }
    &.light{
        color: $button-foreground-light;
    }
}

.spinner-content{
    opacity: 0.5;
}

.dynamic-url{
    width: 600px;
    border: none;
    background: transparent;
    border-bottom: 2px solid;
    &.light{
        border-color: $main-color-light;
    }
    &.dark{
        color: white;
        border-color: $main-color-dark;
    }
    &:focus, &:active{
        outline: none;
    }
}