.input-parameter-name{
    width: 200px;
}

.input-parameter-type {
    width: 200px;
}

.output-parameter-name{
    width: 250px;
}

.output-parameter-type{
    width: 250px;
}

.output-parameter-desired{
    width: 250px;
}

.url{
    border: none;
    border-bottom: 2px solid black;
}

.url:focus, .url:active{
    border:none;
    border-bottom: 2px solid rgb(146, 2, 2);
    outline: none;
}

.url-validation-error{
    color: rgb(146, 2, 2);
}

.output{
    border-radius: 5px;
    width: 100%;
    min-height: 150px;
    vertical-align: top;
}