.notifications{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    .notification{
        width: 250px;
        min-height: 35px;
        padding: 10px;
        background: white;
        border-radius: 10px;
        margin-bottom: 5px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.301);
    }
}